html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    background-color: blue;
}
img{
  max-width: 100%;
}
h1{
    font-size: 4rem;
}
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
    background-color: rgb(184, 60, 60);
}
.entrada a{
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
@media (min-width: 480px){
    body{
        background-color:red;
    }
    .entrada img{
        display: none;
    }
}
@media (min-width: 768px){
    body{
        background-color: aqua;
    }
}
@media (min-width: 1140px){
    body{
        background-color: #aeca10;
    }
}
@media (min-width: 1400px){
    body{
        background-color: #c04d18;
    }
    .entrada img{
        display: inline;
    }
    .contenedor{
        background-color: #3f3835;
    }
}